SurveyWorkflow/Service References/ActionItemManager/ActionItemManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EnrollmentService.Domain.ActionItem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EnrollmentService.Domain.ActionItem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfActionItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActionItem" nillable="true" type="tns:ActionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActionItem" nillable="true" type="tns:ArrayOfActionItem" />
  <xs:complexType name="ActionItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionItem" nillable="true" type="tns:ActionItem" />
</xs:schema>