SurveyWorkflow/Service References/WorkItemManager/WorkItemService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WorkItemService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WorkItemService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateWorkItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvidersSold" type="xs:int" />
      <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorNumber" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateWorkItem" nillable="true" type="tns:CreateWorkItem" />
  <xs:simpleType name="WorkItemStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PendingInitialLogin" />
      <xs:enumeration value="PendingSubmission" />
      <xs:enumeration value="PendingTPSReview" />
      <xs:enumeration value="HoldForFutureGoLiveDate" />
      <xs:enumeration value="ProcessingEnrollment" />
      <xs:enumeration value="PendingPaperwork" />
      <xs:enumeration value="Testing" />
      <xs:enumeration value="WaitingClientTestFile" />
      <xs:enumeration value="WaitingVendorTestFile" />
      <xs:enumeration value="PendingSubsequentFile" />
      <xs:enumeration value="Live" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WorkItemStatus" nillable="true" type="tns:WorkItemStatus" />
  <xs:complexType name="WorkItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientSubmissionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ContractDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DaysToImplement" type="xs:int" />
      <xs:element minOccurs="0" name="DocCount" type="xs:int" />
      <xs:element minOccurs="0" name="EcwGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EcwProjectManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnrollmentRep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnrollmentSentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GoLiveChanges" type="xs:int" />
      <xs:element minOccurs="0" name="GoLiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InstallDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InstallType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntroDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="KickOffCallDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastContactedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Modified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovedOutOfImplementation" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaperworkReceivedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaperworkSentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProvidersSold" type="xs:int" />
      <xs:element minOccurs="0" name="ReinstatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SiteAnalysisAttempts" type="xs:int" />
      <xs:element minOccurs="0" name="SiteAnalysisDue" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAFReceivedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TargetDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TestingDate1" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TestingDate2" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TestingDate3" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TestingDate4" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TestingDate5" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TestingDate6" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TestingRep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vendor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorNumber" type="xs:int" />
      <xs:element minOccurs="0" name="WorkItemId" type="xs:int" />
      <xs:element minOccurs="0" name="WorkItemStatus" type="tns:WorkItemStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkItem" nillable="true" type="tns:WorkItem" />
  <xs:complexType name="ArrayOfWorkItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkItem" nillable="true" type="tns:WorkItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkItem" nillable="true" type="tns:ArrayOfWorkItem" />
</xs:schema>