SurveyWorkflow/Service References/WorkItemManager/WorkItemService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dswcf02:61593/WorkItemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkItemService" />
  <xs:element name="CreateWorkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WorkItemService" minOccurs="0" name="createWorkItem" nillable="true" type="q1:CreateWorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateWorkItemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendWelcomeEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vendorNumber" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendWelcomeEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WorkItemService" minOccurs="0" name="status" type="q2:WorkItemStatus" />
        <xs:element minOccurs="0" name="modifiedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WorkItemService" minOccurs="0" name="GetWorkItemResult" nillable="true" type="q3:WorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWorkItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWorkItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WorkItemService" minOccurs="0" name="GetAllWorkItemsResult" nillable="true" type="q4:ArrayOfWorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WorkItemService" minOccurs="0" name="GetWorkItemsResult" nillable="true" type="q5:ArrayOfWorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WorkItemService" minOccurs="0" name="workItemData" nillable="true" type="q6:WorkItem" />
        <xs:element minOccurs="0" name="modifiedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignWorkItemToEnrollmentRep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workItemId" type="xs:int" />
        <xs:element minOccurs="0" name="enrollmentRep" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifiedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignWorkItemToEnrollmentRepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignWorkItemToEnrollmentRepResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignWorkItemToTestingRep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workItemId" type="xs:int" />
        <xs:element minOccurs="0" name="testingRep" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifiedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignWorkItemToTestingRepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignWorkItemToTestingRepResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBetaSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBetaSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBetaSiteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductionDateResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOfficeNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vendorNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVendorNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="principalUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRepEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRepEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="principalUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRepEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>