SurveyWorkflow/Service References/ProviderManager/ProviderManager2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EnrollmentService.Domain.Provider" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EnrollmentService.Domain.Provider" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Provider">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IndividualRenderingNpi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleInitial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteIndividualRenderingNpi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteMiddleInitial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteSpecialty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteTaxIdOrSsn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Specialty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxIdOrSsn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Provider" nillable="true" type="tns:Provider" />
  <xs:complexType name="ProviderNotes">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IndividualRenderingNpi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleInitial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Specialty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxIdOrSsn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProviderNotes" nillable="true" type="tns:ProviderNotes" />
  <xs:complexType name="ArrayOfProvider">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Provider" nillable="true" type="tns:Provider" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvider" nillable="true" type="tns:ArrayOfProvider" />
  <xs:complexType name="ArrayOfSpecialty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Specialty" nillable="true" type="tns:Specialty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialty" nillable="true" type="tns:ArrayOfSpecialty" />
  <xs:complexType name="Specialty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Specialty" nillable="true" type="tns:Specialty" />
</xs:schema>