SurveyWorkflow/Service References/EventService/EventService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61593/EventService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkItemService.Events" />
  <xs:import schemaLocation="http://localhost:61593/EventService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="webUserId" type="xs:int" />
        <xs:element minOccurs="0" name="isInternal" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WorkItemService.Events" minOccurs="0" name="eventCode" type="q1:EventCode" />
        <xs:element minOccurs="0" name="metadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddForSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isInternal" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WorkItemService.Events" minOccurs="0" name="eventCode" type="q2:EventCode" />
        <xs:element minOccurs="0" name="metadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddForSiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastOccurrence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WorkItemService.Events" minOccurs="0" name="eventCode" type="q3:EventCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastOccurrenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastOccurrenceResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastOccurrenceForSites">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteIds" nillable="true" type="q4:ArrayOfstring" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WorkItemService.Events" minOccurs="0" name="eventCode" type="q5:EventCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastOccurrenceForSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLastOccurrenceForSitesResult" nillable="true" type="q6:ArrayOfKeyValueOfstringNullableOfdateTimeU6ho3Bhd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WorkItemService.Events" minOccurs="0" name="eventCode" type="q7:EventCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WorkItemService.Events" minOccurs="0" name="GetMetaDataResult" nillable="true" type="q8:ArrayOfPortalEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaDataForSites">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteIds" nillable="true" type="q9:ArrayOfstring" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WorkItemService.Events" minOccurs="0" name="eventCode" type="q10:EventCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaDataForSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMetaDataForSitesResult" nillable="true" type="q11:ArrayOfKeyValueOfstringArrayOfPortalEventGKGssOPv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWebUserIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>