SurveyWorkflow/Service References/MadaketIntegration/MadaketIntegrationManager43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EnrollmentService.Madaket.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EnrollmentService.Madaket.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63085/MadaketIntegrationManager.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EnrollmentStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="enrollmentStatuses" nillable="true" type="tns:ArrayOfMadaketEnrollmentStatus" />
      <xs:element minOccurs="0" name="error" nillable="true" type="tns:Error" />
      <xs:element minOccurs="0" name="originatingRequestReceivedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnrollmentStatusResponse" nillable="true" type="tns:EnrollmentStatusResponse" />
  <xs:complexType name="ArrayOfMadaketEnrollmentStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MadaketEnrollmentStatus" nillable="true" type="tns:MadaketEnrollmentStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMadaketEnrollmentStatus" nillable="true" type="tns:ArrayOfMadaketEnrollmentStatus" />
  <xs:complexType name="MadaketEnrollmentStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="originalRequestOperationType" type="tns:RequestType" />
      <xs:element minOccurs="0" name="originatingRequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="payerEnrollmentStatuses" nillable="true" type="tns:ArrayOfMadaketPayerStatus" />
      <xs:element minOccurs="0" name="practiceLocationGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primaryNpi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MadaketEnrollmentStatus" nillable="true" type="tns:MadaketEnrollmentStatus" />
  <xs:simpleType name="RequestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADD" />
      <xs:enumeration value="CHANGE" />
      <xs:enumeration value="REMOVE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RequestType" nillable="true" type="tns:RequestType" />
  <xs:complexType name="ArrayOfMadaketPayerStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MadaketPayerStatus" nillable="true" type="tns:MadaketPayerStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMadaketPayerStatus" nillable="true" type="tns:ArrayOfMadaketPayerStatus" />
  <xs:complexType name="MadaketPayerStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="customPayerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="enrollmenSentTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorsCodesAndMessages" nillable="true" type="tns:ErrorsCodesAndMessages" />
      <xs:element minOccurs="0" name="legacyPayerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="payerGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="planGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="planName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="tns:EnrollmentStatusMessage" />
      <xs:element minOccurs="0" name="statusLastUpdatedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="targetCompletionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="transactionTypes" nillable="true" type="tns:ArrayOfTransactionTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MadaketPayerStatus" nillable="true" type="tns:MadaketPayerStatus" />
  <xs:complexType name="ErrorsCodesAndMessages">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ErrorsCodesAndMessages" nillable="true" type="tns:ErrorsCodesAndMessages" />
  <xs:simpleType name="EnrollmentStatusMessage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="SUBMITTED" />
      <xs:enumeration value="ERRORS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnrollmentStatusMessage" nillable="true" type="tns:EnrollmentStatusMessage" />
  <xs:complexType name="ArrayOfTransactionTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionTypes" type="tns:TransactionTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionTypes" nillable="true" type="tns:ArrayOfTransactionTypes" />
  <xs:simpleType name="TransactionTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="CSI" />
      <xs:enumeration value="EDI" />
      <xs:enumeration value="EFT" />
      <xs:enumeration value="ELIGIBILITY" />
      <xs:enumeration value="ERA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransactionTypes" nillable="true" type="tns:TransactionTypes" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorLogIdentifierCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="errorNotes" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="httpReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="ArrayOfMedicalGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicalGroup" nillable="true" type="tns:MedicalGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicalGroup" nillable="true" type="tns:ArrayOfMedicalGroup" />
  <xs:complexType name="MedicalGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="OriginalPracticeId" type="xs:long" />
      <xs:element minOccurs="0" name="accountLinkage" nillable="true" type="tns:AccountLinkage" />
      <xs:element minOccurs="0" name="ediType" type="tns:EdiType" />
      <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="enrollmentContact" nillable="true" type="tns:MadaketContact" />
      <xs:element minOccurs="0" name="enrollmentRequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="legalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nameDBA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="partnerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="practiceLocationsToEnroll" nillable="true" type="tns:ArrayOfPracticeLocation" />
      <xs:element minOccurs="0" name="previousVendorForEra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerList" nillable="true" type="tns:ArrayOfMadaketProvider" />
      <xs:element minOccurs="0" name="reasonForCancel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requestType" nillable="true" type="tns:RequestType" />
      <xs:element minOccurs="0" name="sharedTIN" type="xs:boolean" />
      <xs:element minOccurs="0" name="submissionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transactionTypesToEnrollFor" nillable="true" type="tns:ArrayOfTransactionTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicalGroup" nillable="true" type="tns:MedicalGroup" />
  <xs:simpleType name="AccountLinkage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TIN" />
      <xs:enumeration value="NPI" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountLinkage" nillable="true" type="tns:AccountLinkage" />
  <xs:simpleType name="EdiType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PROFESSIONAL" />
      <xs:enumeration value="INSTITUTIONAL" />
      <xs:enumeration value="INSTITUTIONAL_AND_PROFESSIONAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EdiType" nillable="true" type="tns:EdiType" />
  <xs:complexType name="MadaketContact">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="tns:Gender" />
      <xs:element minOccurs="0" name="jobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="middleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nameTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MadaketContact" nillable="true" type="tns:MadaketContact" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="MALE" />
      <xs:enumeration value="FEMALE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfPracticeLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PracticeLocation" nillable="true" type="tns:PracticeLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPracticeLocation" nillable="true" type="tns:ArrayOfPracticeLocation" />
  <xs:complexType name="PracticeLocation">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="additionalNPIs" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="contact" nillable="true" type="tns:MadaketContact" />
      <xs:element minOccurs="0" name="internalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="payerPlansToEnroll" nillable="true" type="tns:ArrayOfPayerPlan" />
      <xs:element minOccurs="0" name="primaryNPI" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="providerIds" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="publicName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PracticeLocation" nillable="true" type="tns:PracticeLocation" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zipExtension" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfPayerPlan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PayerPlan" nillable="true" type="tns:PayerPlan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayerPlan" nillable="true" type="tns:ArrayOfPayerPlan" />
  <xs:complexType name="PayerPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="legacyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="payerPlanId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="targetCompletionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transactionTypesToEnroll" nillable="true" type="tns:ArrayOfTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayerPlan" nillable="true" type="tns:PayerPlan" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="status" type="tns:SelectTransactionStatus" />
      <xs:element minOccurs="0" name="transactionType" type="tns:TransactionTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:simpleType name="SelectTransactionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEFAULT" />
      <xs:enumeration value="YES" />
      <xs:enumeration value="NO" />
      <xs:enumeration value="UNKNOWN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SelectTransactionStatus" nillable="true" type="tns:SelectTransactionStatus" />
  <xs:complexType name="ArrayOfMadaketProvider">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MadaketProvider" nillable="true" type="tns:MadaketProvider" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMadaketProvider" nillable="true" type="tns:ArrayOfMadaketProvider" />
  <xs:complexType name="MadaketProvider">
    <xs:sequence>
      <xs:element minOccurs="0" name="madaketSystemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="medicarePTAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="npi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="practiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerPersonalInfo" nillable="true" type="tns:MadaketContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MadaketProvider" nillable="true" type="tns:MadaketProvider" />
  <xs:complexType name="MedicalGroupEnrollmentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" nillable="true" type="tns:Error" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="notes" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="originalRequestOperationType" type="tns:RequestType" />
      <xs:element minOccurs="0" name="originatingRequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="originatingRequestReceivedTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicalGroupEnrollmentResponse" nillable="true" type="tns:MedicalGroupEnrollmentResponse" />
  <xs:complexType name="ArrayOfEnrollmentSubmission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnrollmentSubmission" nillable="true" type="tns:EnrollmentSubmission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnrollmentSubmission" nillable="true" type="tns:ArrayOfEnrollmentSubmission" />
  <xs:complexType name="EnrollmentSubmission">
    <xs:sequence>
      <xs:element minOccurs="0" name="Npi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginatingRequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PracticeId" type="xs:long" />
      <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnrollmentSubmission" nillable="true" type="tns:EnrollmentSubmission" />
</xs:schema>