SurveyWorkflow/Service References/PracticeManager/PracticeManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EnrollmentService.Domain.Practice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EnrollmentService.Domain.Practice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Practice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingNpi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoingBusinessAs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoLiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GoLiveDateQCUS" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GoLiveSoonAsPossible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsIndividual" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteBillingNpi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteDoingBusinessAs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteGoLiveDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteTaxIdOrSsn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteZip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SharedTaxIdSsn" type="xs:boolean" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxIdOrSsn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Practice" nillable="true" type="tns:Practice" />
  <xs:complexType name="PracticeNotes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingNpi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoingBusinessAs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoLiveDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PracticeId" type="xs:long" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxIdOrSsn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PracticeNotes" nillable="true" type="tns:PracticeNotes" />
  <xs:complexType name="ArrayOfPractice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Practice" nillable="true" type="tns:Practice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPractice" nillable="true" type="tns:ArrayOfPractice" />
  <xs:complexType name="EnrollmentStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimsApproved" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClaimsSent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EstimatedApproval" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PayerListId" type="xs:int" />
      <xs:element minOccurs="0" name="RemitsApproved" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RemitsSent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SubmittedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnrollmentStatus" nillable="true" type="tns:EnrollmentStatus" />
</xs:schema>