SurveyWorkflow/Service References/PayerManager/PayerManager519.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EnrollmentService.Domain.Payer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EnrollmentService.Domain.Payer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dswcf02:61592/PayerManager.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://dswcf02:61592/PayerManager.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EnrollmentService.Enums" />
  <xs:complexType name="PayerNotes">
    <xs:sequence>
      <xs:element minOccurs="0" name="PayerListId" type="xs:int" />
      <xs:element minOccurs="0" name="PracticeId" type="xs:long" />
      <xs:element minOccurs="0" name="ProviderId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayerNotes" nillable="true" type="tns:PayerNotes" />
  <xs:complexType name="ArrayOfPayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payer" nillable="true" type="tns:Payer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayer" nillable="true" type="tns:ArrayOfPayer" />
  <xs:complexType name="Payer">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmcType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OffersRemits" type="xs:boolean" />
      <xs:element minOccurs="0" name="PayerId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ServiceStates" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payer" nillable="true" type="tns:Payer" />
  <xs:complexType name="ArrayOfPracticePayerDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PracticePayerDetail" nillable="true" type="tns:PracticePayerDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPracticePayerDetail" nillable="true" type="tns:ArrayOfPracticePayerDetail" />
  <xs:complexType name="PracticePayerDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingNPI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Claims" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeedsProviderId" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoteProviderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OffersRemits" type="xs:boolean" />
      <xs:element minOccurs="0" name="OnHold" type="xs:boolean" />
      <xs:element minOccurs="0" name="PayerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PracticeId" type="xs:long" />
      <xs:element minOccurs="0" name="ProviderId" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EnrollmentService.Enums" minOccurs="0" name="ProviderIdType" type="q2:ProviderIdType" />
      <xs:element minOccurs="0" name="Remits" type="xs:boolean" />
      <xs:element minOccurs="0" name="TaxIdorSSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="office" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PracticePayerDetail" nillable="true" type="tns:PracticePayerDetail" />
</xs:schema>